body {
	background-color: whitesmoke;
	opacity: 1;
	transition: 1.25s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

html {
	scroll-behavior: smooth;
}

a {
	outline: none;
	text-decoration: none;
	color: #303030;
	transition: color 0.5s linear;
   	-webkit-transition: color 0.5s linear;
   	-moz-transition: color 0.5s linear;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
}

.down {
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
  	position: absolute;
  	left: 49%;
  	top: 80vh;
}

.secheader {
	position: absolute;
	top: 4.3vh;
	color: grey;
}

.headtxt {
	white-space: nowrap;
	color: #303030;
	font-family: 'Nunito', sans-serif;
	position: absolute;
	top: 1.75vh;
	float: left;
	font-weight: 100;
	left: 7vw;
	font-size: 1.5vw;
	letter-spacing: 1px;
}

.headimg {
	position: absolute;
	top: 5.5vh;
	left: 3vw;
	display: block;
	max-width: 100%;
	max-height: 100%;
}


.nav ul {
	position: absolute;
	display: inline-block;
	list-style: none;
	top: 9vh;
	font-family: 'Nunito', sans-serif;
	right: 0.5vw;
	text-align: center;
	overflow: auto;
	padding: 0;
	margin: 0;
}

.nav li {
	padding-right: 4vw;
	float: left;
	font-size: 1.5vw;

}

.nav li a:hover {
	color: #228B22;
}

.nav li h3 {
	margin: 0;
	position: relative;
	top: 0vh;
	font-size: 1.5vw;
	font-weight: 300;
	color: #228B22;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px
}

.landtxt {
	position: absolute;
	color: grey;
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	top: 37vh;
	left: 5vw;
	text-align: left; 
}

#home {
	height: 1000px;
}

#about {
	height: 1000px;
}

.abouttitle {
	position: absolute;
	color: #303030;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	display: flex;
	left: 45.5%;
	margin: 0;
	top: 157vh;
	font-size: 4vh;
}



